h4.modal-title-order{
	margin-right: 30px;
}

.cancel-button-modal{
	background-color: white;
	color: orange;
	font-weight: bold;
}

.create-order-button-modal{
	background-color: orange;
	color: white;
	font-weight: bold;
	margin-right: 20px;
}

.modal-dialog { 
	width: 500px; 
}

.modal-footer{
	border-top-style: none;
}